backcall
bottleneck
certifi
click==8.1.8
colorama
cycler
debugpy
decorator
entrypoints
flask==2.2.5
gunicorn==20.1.0
flit-core
fonttools==4.25.0
importlib-metadata==6.7.0
ipykernel
ipython
itsdangerous==2.1.2
jedi
jinja2==3.1.6
joblib
jupyter-client
jupyter-core
kiwisolver
markupsafe==2.1.5
matplotlib
matplotlib-inline
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
munkres==1.1.4
nest-asyncio
numexpr
numpy
packaging
pandas
parso
pickleshare
pillow==9.4.0
ply==3.11
prompt-toolkit
psutil
pygments
pyparsing
pyqt5==5.15.7
pyqt5-sip
python-dateutil
pytz
pywin32==305.1
pyzmq
scikit-learn
scipy
seaborn
sip
six
threadpoolctl
toml
tornado
traitlets
typing-extensions
wcwidth
werkzeug==2.2.3
wincertstore==0.2
zipp==3.15.0
